/* 전체 배경 */
html {
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


/* 전체 박스 */
body {
    max-width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 25px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}


/* 헤더(메뉴) */
header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 10px;
}
/* 회원가입, 프로필 정보, 문의하기 */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2980b9;
    font-weight: 600;
    transition: color 0.3s ease;
}

main#profile-info section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #34495e;
}

form#profileForm label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
}

form#profileForm input[type="text"],
form#profileForm input[type="email"]
form#profileForm input[type="password"],
form#profileForm input[type="number"],
form#profileForm textarea,
form#profileForm select {
    width: 90%;
    padding: 5px 12px;
    margin-top: 4px;
    margin-bottom: 18px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

form#profileForm input[type="text"]:focus,
form#profileForm input[type="email"]:focus,
form#profileForm input[type="password"]:focus,
form#profileForm input[type="number"]:focus,
form#profileForm textarea:focus,
form#profileForm select:focus {
    border-color: #2980b9;
    outline: none;
}

#media h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

#media {
    padding-top: 10px;
}

#media table {
    width: 600px;
    margin: 20px auto;
    table-layout: fixed;
    border-collapse: collapse;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 02px 8px rgba(0, 0, 0, 0.05);
    font-size: 0.95rem;
}

#media tbody tr {
    height: 48px;
}


/* 지도 */
iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

footer {
    text-align: center;
}